body{
    color: #b99048;
}

h1{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    background-color: #302f2f;
    border-radius: 10px;
}

h2 {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; 
}
 
h3{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; 
}

table{
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    text-align: center;
}

th, td {
    padding: 6px; 
}

tbody tr:hover {
    background-color: #f0f0f0; 
    cursor: pointer;
}

.selected{
    border: 2px solid #4c4b4b; 
    border-radius: 5px; 
    background-color: #4c4b4b;
}

.redirect{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

button{
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #dab26f;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #8b7144;
}

